# Database
DATABASE_URL=

# Authentication
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Media providers
TMDB_API_READ_TOKEN=
TMDB_API_KEY=
OPEN_LIBRARY_CONTACT_EMAIL=
GOOGLE_BOOKS_API_KEY=
